$cellwidth: 100px;
$backgroundColor: rgb(4, 4, 65);
$cellbackground: rgb(4, 4, 65);
$hovercolor: rgba(255, 255, 255, 0.4);
$winmodal: rgba(10, 10, 10, 0.7);
$dark: rgba(0, 0, 0, 0.8);
$darker: rgba(0, 0, 0, 0.9);
$highlight: #f9f9f9;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: cursive;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
  color: $highlight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40rem;
  background-color: $dark;
  padding: 1.2rem 0;
  border-radius: 0 0 2rem 2rem;

  & > .message {
    & > * {
      margin-bottom: 1rem;
    }
  }
}
.info {
  width: 20vw;
  min-width: 12rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#algorithm {
  font-size: 1.1rem;
  width: 16rem;
  background: $winmodal;
  color: $highlight;
  border: 1px solid $hovercolor;
  margin-left: 2rem;
}

// Grid Display
.grid {
  display: grid;

  &-jc-sa {
    justify-content: center;
  }

  &-ai-c {
    align-content: center;
  }
}

// Game

.game {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &.win {
    & > .winner {
      display: flex;
    }
  }
}

.winner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $winmodal;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .winner_message {
    height: 30vh;
    min-width: 20rem;
    background-color: $darker;
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    & > h1 {
      color: white;
      font-size: 2.2rem;
    }
    & > button {
      height: 50px;
      width: 150px;
      border: 0px;
      border-radius: 50px;
      font-size: 1.2rem;
    }
  }
}

.container {
  width: 3 * $cellwidth;
  height: 3 * $cellwidth;
  grid-template-columns: repeat(3, 1fr);

  > .o_hover {
    &:hover {
      &::before {
        content: "";
        height: 0.7 * $cellwidth;
        width: 0.7 * $cellwidth;
        border-radius: 50%;
        background-color: $hovercolor;

        position: absolute;
        top: 0.15 * $cellwidth;
        left: 0.15 * $cellwidth;
      }
      &::after {
        content: "";
        height: 0.5 * $cellwidth;
        width: 0.5 * $cellwidth;
        border-radius: 50%;
        background-color: $cellbackground;

        position: absolute;
        top: 0.25 * $cellwidth;
        left: 0.25 * $cellwidth;
      }
    }
  }
}

.cell {
  width: $cellwidth;
  height: $cellwidth;
  border: 1px solid white;
  position: relative;
  cursor: pointer;

  // Hover Effect

  // Border Issues
  &:nth-child(3n + 1) {
    border-left: none;
  }
  &:nth-child(3n) {
    border-right: none;
  }
  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    border-top: none;
  }
  &:last-child,
  &:nth-child(8),
  &:nth-child(7) {
    border-bottom: none;
  }
}

// X
.x {
  &::before {
    content: "";
    height: 0.1 * $cellwidth;
    width: 0.8 * $cellwidth;
    background-color: white;
    border-radius: 10px;

    position: absolute;
    top: 0.4 * $cellwidth;
    left: 0.1 * $cellwidth;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    height: 0.1 * $cellwidth;
    width: 0.8 * $cellwidth;
    background-color: white;
    border-radius: 10px;

    position: absolute;
    top: 0.4 * $cellwidth;
    left: 0.1 * $cellwidth;
    transform: rotate(-45deg);
  }
}

// O
.o {
  &::before {
    content: "";
    height: 0.7 * $cellwidth;
    width: 0.7 * $cellwidth;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: 0.15 * $cellwidth;
    left: 0.15 * $cellwidth;
  }
  &::after {
    content: "";
    height: 0.5 * $cellwidth;
    width: 0.5 * $cellwidth;
    border-radius: 50%;
    background-color: $cellbackground;

    position: absolute;
    top: 0.25 * $cellwidth;
    left: 0.25 * $cellwidth;
  }
}
